@import url(./partials/_fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_animations.css);

* {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--text-color);
  background: linear-gradient(135deg, rgb(9, 9, 17) 50%, rgb(2, 2, 53));
  margin: 0rem;
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0px solid transparent;
}

figure {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}
