@font-face {
  font-family: paragraph;
  src: url("../../../../fonts/IBMPlexSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: title;
  src: url("../../../../fonts/IBMPlexSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: subtitle;
  src: url("../../../../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
}

* {
}

p {
  font-family: paragraph, sans-serif;
  font-size: clamp(1rem, 1vw + 0.75rem, 1.55rem);
}

h1 {
  font-family: title, sans-serif;
  font-size: clamp(2.25rem, 3vw + 1rem, 4.5rem);
}

h2 {
  font-family: subtitle, sans-serif;
  font-size: clamp(1.875rem, 1vw + 1.5rem, 3rem);
}

h4 {
  font-family: subtitle, sans-serif;
  font-size: clamp(1.25rem, 1vw + 1rem, 2.25rem);
}
