@use "../scss/navbar.module.scss";
@import url("../css/globals.css");

.card {
  //   padding: 1rem; /* Optional: internal padding for the items */
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  padding-bottom: 1rem;

  .media-container {
    display: flex;
    justify-content: center; /* Variable */
    align-items: center;
    min-width: max(250px, 40%);
    height: 60%;
    width: 100%;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .content-container {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    width: 100%;
    height: 40%;
    // max-width: max(1000px, 60%);
    // padding: 1rem clamp(1rem, 5% - 1.25rem, 8rem) 1rem 1rem;

    > * {
      margin-bottom: 1rem;
    }

    > :first-child {
      margin-top: 1rem;
    }

    &.right {
      > * {
        justify-content: right;

        &.text {
          display: table-cell;
          text-align: right;
          vertical-align: middle;
        }
      }
    }

    .card-button {
      background-color: rgb(59, 126, 226);
      padding: 1rem;
      border-radius: 5px;
    }
  }
}

.container {
  padding: 1rem;
  display: flex; /* Enable flexbox layout */
  flex-wrap: wrap; /* Allow items to wrap onto new rows */
  gap: 1rem; /* Optional: space between items */

  .container-item {
    flex: 1 1 300px; /* Flex items will grow, shrink, and have a base size of 300px */
    min-width: 288px; /* Set a minimum width for each item */
    min-height: 400px;
    display: flex;
    flex-direction: column; /* Ensure content inside item is flexible */
    justify-content: center;
    align-items: center;
  }
}

footer {
  width: 100%;
  background: var(--color-5);
}
