body {
  -ms-overflow-style: none;
  // scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; //Hides scrollbar for Chrome, Safari and Opera
  }
}

.navbar {
  height: 4rem;
  width: 100%;
  background: linear-gradient(
    45deg,
    var(--background-color-2),
    var(--background-color-1)
  );
  position: fixed;
  top: 0rem;
  box-sizing: content-box;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 1s;

  z-index: 1000;
  overflow-x: hidden;

  .border {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--border-color-1);
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 30%;
    left: -85px;
    min-width: 200px;
    max-width: 600px;
    transform: skewX(37deg);
    background: linear-gradient(0deg, rgb(197, 0, 0), rgb(141, 0, 0));
    border-right: clamp(10px, 10vw, 60px) solid rgb(226, 226, 243);
    box-shadow: inset 0px -2px 15px 0px rgba(255, 0, 0, 0.3),
      inset -5px 3px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 5;
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 30%;
    left: -115px;
    min-width: 200px;
    max-width: 600px;
    transform: skewX(37deg);
    background: linear-gradient(45deg, black, rgb(26, 29, 46));
    z-index: 10;
    border-right: 15px solid rgb(214, 0, 0);
    box-shadow: inset -10px 0px 20px 1px rgba(0, 0, 0, 0.7);
  }
}

.theme-toggle-container {
  float: right;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4rem;
  z-index: 25;

  .theme-toggle {
    height: 50%;
    width: 50%;
    // border: 2px solid white;
    // border-radius: 50px;
  }
}

.nav-menu-button,
.home-button {
  height: 100%;

  &:hover {
    background: rgb(58, 78, 187);
  }
  z-index: 25;
}

.home-button {
  float: left;
  aspect-ratio: 1 / 1;
}

.nav-menu-button {
  float: right;
  // background: linear-gradient(180deg, rgba(5, 0, 29), rgba(12, 0, 66));
  aspect-ratio: 1 / 1;
  // border-left: 15px solid rgb(201, 203, 226);
}

.side-nav {
  height: calc(100dvh - var(--navbar-height));
  width: 100%;
  z-index: 1100;
  position: fixed;
  bottom: 0rem;
  background: rgb(122, 140, 197);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-button {
  height: 4rem;
  width: 100%;
  background-color: transparent;
  &:hover {
    background: blue;
  }
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    background: rgb(235, 230, 255);
  }
}

.nav-menu-container {
  height: 100dvh;
  width: 100%;
}
